
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">Login Form</div>
                                <div class="card-body card-block">
                                  
                                        <!-- <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                                <input type="text" id="username" name="username" placeholder="Username" class="form-control">
                                            </div>
                                        </div> -->
                                        <div class="form-group">{{diagnostic}}
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </div>
                                                <input type="email" ngModel required #email="ngModel" name="email" id="email"  [(ngModel)]="userObj.email" (change)="log(email)" placeholder="Email" class="form-control">
                                            </div>
                                            <div class="alert alert-danger" *ngIf="email.touched && !email.valid">Email is required</div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-asterisk"></i>
                                                </div>
                                                <input type="password" id="password" name="password" placeholder="Password" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-actions form-group">
                                            <button  (click)="login()" class="btn btn-success btn-sm">Login</button>
                                             &nbsp;
                                            <a  class="btn btn-success btn-sm" routerLink="/register">Register
                                            
                                        </a>
                                          
                                        </div>
                                    
                                </div>
                            </div>
                        </div>



            </div>
            
        </div>
    </div>
</div>